<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      <table>
          <thead>
              <tr>
                  <th> Names</th>
                  <th> Email Address</th>
              </tr>
          </thead>
          <tbody>
              {% for users in logindb %}
              <tr>
                  <td>{{users.firstname}} </td>
                  <td>{{users.lastname}} </td>
                  <td>{{users.email}}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
<!--       
         
         <tbody>
            {% for student in students %}
               <tr>
                  <td>{{ student.name }}</td>
                  <td>{{ student.city }}</td>
                  <td>{{ student.addr }}</td>
                  <td>{{ student.pin }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table> -->
      
   </body>
</html>